ol{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

li{
  padding-left: .5rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: #22272e;
  color: #7a848f;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.redBorder {
  border: 1px solid red;
}

.margin0 {
  margin: 0;
}

.margin10 {
  margin: 10px auto;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
}


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.evidenceWrapper {
  background: #14171c;
  /* min-height: 100vh; */
  padding: 25px;
  border-radius: 10px;
}

.evidenceContainer {
  width: 300px;
  /* border: 1px solid green; */
}

.evidenceFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-wrap: wrap;
}

.photoGuideContainer {
  flex-direction: column;
  max-width: 100%;
}

.ghostList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  /* background: #606060; */
  color: white;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  height: 180px;
  width: 280px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexStartColumn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mapDiv {
  background: #14171c;
  border-radius: 10px;
  padding: 25px;
}

.button {
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: 135px;
  cursor: pointer;
  background-color: "#dee5e8";
  transition: background-color 250ms linear;
}



.w100 {
  width: 100%;
}

.selectedButton{
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: 135px;
  cursor: pointer;
  background-color: #28d326;
  transition: background-color 250ms linear;
}

.manuallyDisabled{
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: 135px;
  cursor: pointer;
  color: #c3c3c3;
  background: black;
  /* background-color: #961210; */
  transition: background-color 250ms linear;
}

.button:disabled {
  background: #505354 !important;
}

select {
  padding: 5px 10px;
  min-width: 125px;
  border-radius: 5px;
  background: #7a848f;
  color: white;
}

.normalResults {
  background: #333333;
  transition: background 250ms linear;
}

.finalResults {
  background: #960711; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  transition: background 250ms linear;
}

.ghostName {
  margin: 5px;
  display: flex;
  font-weight:700;
}

.ghostNameNormal{
  font-size: 1rem;
  justify-content:'flex-start';
}

.ghostNameLast{
  font-size: 2rem;
  justify-content:'center';
}

.hideOnMobile {
  display: flex;
}

.showOnMobile {
  display: none;
}



@media (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }

  .showOnMobile {
    display: flex;
  }

  .container {
    flex-direction: column;
  }
  .evidenceContainer {
    width: 100%;
  }
  .ghostList {
    width: 90%;
    margin: 10px auto;
  }
  .mapContainer {
    margin-left: 0px;
    margin-top: 40px;
    width: "100%";
  }
  .evidenceWrapper {
    min-height: "inherit";
  }
}
