.App {
  font-family: sans-serif;
  text-align: center;
  background: #22272e;
  color: #7a848f;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  /* border: 1px solid red; */
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
}

.evidenceWrapper {
  background: #14171c;
  /* min-height: 100vh; */
  padding: 25px;
  border-radius: 10px;
}

.evidenceContainer {
  width: 300px;
  /* border: 1px solid green; */
}

.evidenceFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-wrap: wrap;
}

.ghostList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background: #606060;
  color: white;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  height: 150px;
  width: 280px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid green; */
  margin-left: 10px;
}

.mapDiv {
  background: #14171c;
  border-radius: 10px;
  padding: 25px;
}

.button {
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: 125px;
  cursor: pointer;
  background-color: "#dee5e8";
  transition: background-color 250ms linear;
}

.selectedButton{
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: 125px;
  cursor: pointer;
  background-color: #28d326;
  transition: background-color 250ms linear;
}

.button:disabled {
  background: #505354 !important;
}

select {
  padding: 5px 10px;
  min-width: 125px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .evidenceContainer {
    width: 100%;
  }
  .ghostList {
    width: 90%;
    margin: 10px auto;
  }
  .mapContainer {
    margin-left: 0px;
    margin-top: 40px;
    width: "100%";
  }
  .evidenceWrapper {
    min-height: "inherit";
  }
}
